<div class="row">
    <div class="col-lg-4">
        <div class="widget lazur-bg p-lg text-center">
            <div class="p-m">
                <h1 class="m-xs">Son Eklenen Blog</h1>

                <h2 class="font-bold no-margins">
                    @ViewBag.v1
                </h2>
                <small>𝙷𝚘𝚕𝚊 𝙼𝚞𝚗𝚍𝚘!</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget yellow-bg p-lg text-center">
            <h2>
                İletişim Bilgileri
            </h2>
            <ul class="list-unstyled m-b-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>Email:</label>
                    admınn@gmail.com
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Adres:</label>
                    Maslak/İstanbul/Türkiye
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Numara:</label>
                    (+90) 678 555 3462
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget red-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-bell fa-4x"></i>
                <h1 class="m-xs">Yıllık Hedef Kazanç</h1>
                <h3 class="font-bold no-margins">
                    $30,500,000
                </h3>
            </div>
        </div>
    </div>
    
</div>