<!--Yorumlar kisminin kodlari.-->
@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="comment-top">
	<h4>Yorumlar</h4>
    @foreach (var item in Model)
    {
    <div class="media">
     
		<img src="@item.AppUser.UserImage" alt="" class="img-fluid" />
		<div class="media-body">
			<h5 class="mt-0">@item.AppUser.UserName</h5>
			<p>
				@item.CommentContent
			</p>
		</div>
	</div>
	}
</div>