
<div class="tech-btm">
    
    <p>Seyahat ve Yaşam bloglarımızı mail alın...</p>
    <form action="/RegisterUser/Index/" method="post">
        <input type="email" id="txtmail"  name="Mail" class="tech-btm">
        <input type="submit" id="btn" value="Abone Ol">
    </form>
</div>

